*
{
    margin: 0px;
    padding: 0px;
}

button, a 
{
    text-decoration: none;
    padding: 5px;
    border: 2px solid firebrick;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    color: firebrick;
    margin: 10px;
    text-align: center;
}
h1,label
{
    margin:14px;
    padding:12px;
    color: firebrick;
}
input
{
    display:block;
}